<div class="container-fluid">
    <p> {{esMultimediaNoticia}} {{esNoticiaGrupo}} {{esNoticiaUsuario}}</p>
    <table class="table table-striped" class="col-md-4">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Link</th>
                <th ng-show="{{(esMultimediaNoticia && (esNoticiaGrupo || esNoticiaUsuario)) || (esMultimediaBlog)}}">Acciones</th>
                
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in multimediaRecords">
                <td id="{{$index}}-nombre">{{record.nombre}}</td>
                <td id="{{$index}}-descripcion">{{record.descripcion}}</td>
                <td id="{{$index}}-link">{{record.link}}</td>
             <td>  
            <div ng-show="{{esMultimediaNoticia && esNoticiaGrupo}}" class="ng-hide">
                    <button id="{{$index}}-edit-btn1" class="btn btn-default btn-sm" ui-sref="grupoNoticiaMultimediaEdit({multimediaLink: record.link})"><span class="glyphicon glyphicon-edit"></span> Editar</button>
                    <button id="{{$index}}-delete-btn1" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(record.link)"><span class="glyphicon glyphicon-minus"></span> Borrar</button>
             </div>
            <div ng-show="{{esMultimediaNoticia && esNoticiaUsuario}}" class="ng-hide">
                    <button id="{{$index}}-edit-btn2" class="btn btn-default btn-sm" ui-sref="usuarioNoticiaMultimediaEdit({multimediaLink: record.link})"><span class="glyphicon glyphicon-edit"></span> Editar</button>
                    <button id="{{$index}}-delete-btn2" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(record.link)"><span class="glyphicon glyphicon-minus"></span> Borrar</button>
             </div>
            <div ng-show="{{esMultimediaBlog}}" class="ng-hide">
                    <button id="{{$index}}-edit-btn3" class="btn btn-default btn-sm" ui-sref="blogMultimediaEdit({multimediaLink: record.link})"><span class="glyphicon glyphicon-edit"></span> Editar</button>
                    <button id="{{$index}}-delete-btn3" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(record.link)"><span class="glyphicon glyphicon-minus"></span> Borrar</button>
            </div>
            </td>

                
            </tr>
        </tbody>
    </table>
    <div ng-show="{{esMultimediaBlog}}" class="ng-hide">
      <button id="return-btn" class="btn btn-default btn-sm" ui-sref="blogDetail">Volver a blog</button>
      <button id="add-btn" class="btn btn-default btn-sm" ui-sref="blogMultimediaCreate"><span class="glyphicon glyphicon-plus"></span> Agregar multimedia</button>
    </div>
    <div ng-show="{{esMultimediaNoticia && esNoticiaUsuario}}" class="ng-hide">
      <button id="return-btn" class="btn btn-default btn-sm" ui-sref="usuarioNoticiaDetail">Volver</button>
      <button id="add-btn" class="btn btn-default btn-sm" ui-sref="usuarioNoticiaMultimediaCreate"><span class="glyphicon glyphicon-plus"></span> Agregar multimedia</button>
    </div>
    <div ng-show="{{esMultimediaNoticia && esNoticiaGrupo}}" class="ng-hide">
      <button id="return-btn" class="btn btn-default btn-sm" ui-sref="grupoNoticiaDetail">Volver</button>
      <button id="add-btn" class="btn btn-default btn-sm" ui-sref="grupoNoticiaMultimediaCreate"><span class="glyphicon glyphicon-plus"></span> Agregar multimedia</button>
    </div>
      <div ui-view="multimediaCreate">
  
      </div>
</div>