<div class="container-fluid" ui-view="multimediaListView">
    <div class="panel-group">
        <!--<div class="panel panel-primary">-->
            <div class="panel-body">
                
            <div class="btn-toolbar" ng-show="{{esMultimediaBlog}}" role="toolbar" aria-label="Toolbar with button groups">
                <a class="btn" id="add-btn"  ui-sref="blogMultimediaCreate"><img src="data/plusR.png" style="width:50px;height:50px"></a>
            </div>
            <div class="btn-toolbar" ng-show="{{esMultimediaNoticia && esNoticiaUsuario}}" role="toolbar" aria-label="Toolbar with button groups">
                <a class="btn" id="add-btn"  ui-sref="usuarioNoticiaMultimediaCreate"><img src="data/plusR.png" style="width:50px;height:50px"></a>
            </div>
            <div class="btn-toolbar" ng-show="{{esMultimediaNoticia && deGrupo}}" role="toolbar" aria-label="Toolbar with button groups">
                <a class="btn" id="add-btn"  ui-sref="grupoNoticiaMultimediaCreate"><img src="data/plusR.png" style="width:50px;height:50px"> </a>
            </div>
                <div ng-show="{{esMultimediaBlog}}" class="ng-hide">
                 <div class="col-md-12">
                        <div class="widget-container" >
                            <div class="widget row image-tile">
                                <div class="tile col-xs-12 col-md-4 col-sm-12 col-lg-4" ui-sref="blogMultimediaDetail({multimediaLink: record.link})"ng-repeat="record in multimediaRecords" style="background: url({{record.ruta}})no-repeat center top; background-size: cover;" ng-class="{latest_icon:true, 'selected col-xs-4 col-md-4 col-sm-4 col-lg-4':selectedOption===record.ruta}">
                                    <p>{{record.nombre}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <div ng-show="{{esMultimediaNoticia && deGrupo}}" class="ng-hide">
                    <div class="col-md-12">
                        <div class="widget-container" >
                            <div class="widget row image-tile">
                                <div class="tile col-xs-12 col-md-4 col-sm-12 col-lg-4"  ng-repeat="record in multimediaRecords" style="background: url({{record.ruta}})no-repeat center top; background-size: cover;"  ui-sref="grupoNoticiaMultimediaDetail({multimediaLink: record.link})" ng-class="{latest_icon:true, 'selected col-xs-4 col-md-4 col-sm-4 col-lg-4':selectedOption===record.ruta}">
                                    <p>{{record.nombre}}</p>
                                </div>
                            </div>
                        </div>
                    </div>                       
                </div> 
                <div ng-show="{{esMultimediaNoticia && (!deGrupo && !esNoticiaUsuario)}}" class="ng-hide">
                    <div class="col-md-12">
                        <div class="widget-container" >
                            <div class="widget row image-tile">
                                <div class="tile col-xs-12 col-md-4 col-sm-12 col-lg-4" ui-sref="noticiaNoEditableMultimediaDetail({multimediaLink:record.link})" ng-repeat="record in multimediaRecords" style="background: url({{record.ruta}})no-repeat center top; background-size: cover;" ng-class="{latest_icon:true, 'selected col-xs-4 col-md-4 col-sm-4 col-lg-4':selectedOption===record.ruta}">
                                    <p>{{record.nombre}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> 
                <div ng-show="{{esMultimediaNoticia && esNoticiaUsuario}}" class="ng-hide">
                    <div class="col-md-12">
                        <div class="widget-container" >
                            <div class="widget row image-tile">
                                <div class="tile col-xs-12 col-md-4 col-sm-12 col-lg-4" ui-sref="usuarioNoticiaMultimediaDetail({multimediaLink:record.link})" ng-repeat="record in multimediaRecords" style="background: url({{record.ruta}})no-repeat center top; background-size: cover;" ng-class="{latest_icon:true, 'selected col-xs-4 col-md-4 col-sm-4 col-lg-4':selectedOption===record.ruta}">
                                    <p>{{record.nombre}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 col-lg-4" ng-show="{{esMultimediaNoticia && deGrupo}}">
                    <button class="btn outline" ui-sref="grupoNoticiaDetail">Volver</button>
                </div>
                <div class="col-md-4 col-lg-4" ng-show="{{esMultimediaNoticia && esNoticiaUsuario}}">
                    <button class="btn outline" ui-sref="usuarioNoticiaDetail">Volver</button>
                </div>
                <div class="col-md-4 col-lg-4" ng-show="{{esMultimediaBlog}}">
                    <button class="btn outline" ui-sref="blogDetail">Volver</button>
                </div>
                <div class="col-md-4 col-lg-4" ng-show="{{esMultimediaNoticia && !deGrupo && !esNoticiaUsuario}}">
                    <button class="btn outline" id="unico" ui-sref="noticiaNoEditableDetail">Volver</button>
                </div>
        </div> 

        </div>
    </div>
</div>