<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body" style="float: none;margin: 0 auto">           
            
            <div class="btn-toolbar text-center" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-12 col-md-12 col-sm-12 col-xs-12" role="group" aria-label="First group" >
                    <h1 class="text-center">Lugares</h1>
                    <a ui-sref="lugaresCreate" ng-if="soyAdminGeneral()"><img src="data/plusP.png" style="width:50px;height:50px"></a>
                </div>                
            </div> 
            <div class="table-responsive text-center">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th class="text-center fondoPanel" >Nombre</th>    
                            <th class="text-center fondoPanel" >Direccion</th>  
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="lugar in lugaresRecords">
                            <td id="{{$index}}-nombre"><a ui-sref="lugarDetail({lugarId: lugar.id})">{{lugar.nombre}}</a></td>
                            <td id="{{$index}}-direccion">{{lugar.direccion}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

