<div class="container-fluid" ui-view="calendarView">
    <div class="panel panel-default">
        <div class="panel-body">
               <h1 class="text-center">Eventos</h1>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" >
                <div class="btn-group mr-2" role="group" aria-label="First group" ng-show="{{deGrupo}}">
                    <h1>Eventos</h1>
                    <a class="btn" ui-sref="eventosCreate({grupoId: idGrupo})"><img src="data/plusA.png" style="width:50px;height:50px" ng-if="puedoEditarGrupo()"></a>
                </div>
            </div>
            <div class="row">
                <table class="table table-striped text-center">
                    <thead>
                        <tr >
                            <th class="text-center" style="background: #394552;color:white">Nombre</th>    
                            <th class="text-center" style="background: #394552;color:white">Fecha Inicio</th>  
                            <th class="text-center" style="background: #394552;color:white">Fecha Fin</th>
                            <th class="text-center" style="background: #394552;color:white"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="evento in records">
                            <td id="{{$index}}-nombre" ><a ui-sref="eventoDetail({eventoId: evento.id})">{{evento.nombre}}</a></td>
                            <td id="{{$index}}-fechaInicio">{{evento.fechaInicio| date:'yyyy-MM-dd'}}</td>
                            <td id="{{$index}}-fechaFin">{{evento.fechaFin| date:'yyyy-MM-dd'}}</td>
                            <td id="{{$index}}-actions">
                                <a class="btn btn-default btn-sm" ui-sref="eventoUpdate({eventoId: evento.id})" ng-if="puedoEditarEventos()"><span class="glyphicon glyphicon-edit"></span></a>
                                <a class="btn btn-danger btn-sm" ui-sref="eventoDelete({eventoId: evento.id})" ng-if="puedoEditarEventos()"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button tympe="button" class ="btm btn-imfo" ui-sref="eventosCalendar" ng-if="deGrupo && !eventoUsuario">ver calendario Grupo</button>
            <button tympe="button" class ="btm btn-imfo" ui-sref="eventosCalendarAdmin" ng-if="!deGrupo && !eventoUsuario">ver calendario</button>
            <button tympe="button" class ="btm btn-imfo" ui-sref="eventosCalendarUsuario" ng-if="!deGrupo && eventoUsuario">ver mi calendario</button>
        </div>
    </div>
</div>

