<div class="container-fluid" ui-view="calendarView">
    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="col-md-12 text-center"><span style="color:#426163;font-family: Helvetica Neue,Helvetica,Arial,sans-serif"> Eventos </span></h1>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" >
                <div class="btn-group mr-2" role="group" aria-label="First group" ng-show="{{deGrupo}}">
                    <a class="btn" ui-sref="eventosCreate({grupoId: idGrupo})"><img src="data/plusA.png" style="width:50px;height:50px" ng-if="puedoEditarGrupo()"></a>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive text-center">
                    <table class="table table-striped">
                        <thead>
                            <tr >
                                <th class="text-center fondoPanel" >Nombre</th>    
                                <th class="text-center fondoPanel" >Fecha Inicio</th>  
                                <th class="text-center fondoPanel" >Fecha Fin</th>
                                <th class="text-center fondoPanel" ></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="evento in records">
                                <td id="{{$index}}-nombre" ><a ui-sref="eventoDetail({eventoId: evento.id})">{{evento.nombre}}</a></td>
                                <td id="{{$index}}-fechaInicio">{{evento.fechaInicio| date:'yyyy-MM-dd'}}</td>
                                <td id="{{$index}}-fechaFin">{{evento.fechaFin| date:'yyyy-MM-dd'}}</td>
                                <td id="{{$index}}-actions">
                                    <a class="btn outline btn-sm" ui-sref="eventoUpdate({eventoId: evento.id})" ng-if="puedoEditarEventos()"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a class="btn outlineC btn-sm" ui-sref="eventoDelete({eventoId: evento.id})" ng-if="puedoEditarEventos()"><span class="glyphicon glyphicon-trash" style="color:black"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12 text-center">
                    <button type="button" class="btn outline text-center" ui-sref="eventosCalendar" ng-if="deGrupo && !eventoUsuario">Ver calendario Grupo</button>
                    <button type="button" class="btn outline text-center" ui-sref="eventosCalendarAdmin" ng-if="!deGrupo && !eventoUsuario">Ver calendario</button>
                    <button type="button" class="btn outline text-center" ui-sref="eventosCalendarUsuario" ng-if="!deGrupo && eventoUsuario">Ver mi calendario</button>
                </div>
            </div>
        </div>
    </div>
</div>

