<div class="panel panel-default"> 
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <dl>     
                    <dt>{{currentEvento.nombre}}</dt>
                    <hr>
                    <dt>Fecha Inicio</dt>
                    <dd>{{currentEvento.fechaInicio| date:'yyyy-MM-dd'}}</dd>
                    <hr>
                    <dt>Fecha Fin</dt>
                    <dd>{{currentEvento.fechaFin| date:'yyyy-MM-dd'}}</dd>
                </dl>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <!-- Botones por si un usuario se quiere inscribir o dejar un evento, solo se muestra uno dependiendo del caso-->
            <div class=" col-md-12">
                <div class="btn-group mr-2" role="group" aria-label="First group" ng-show="!inscrito">
                    <button type="button" class="btn btn-success" ng-click="inscripcionUsuario()">Inscribirse</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="First group" ng-show="inscrito">
                    <button type="button" class="btn btn-danger" ng-click="retirarUsuario()">Salir del evento</button>
                </div>
            </div>
        </div>
        
        <div class="col-md-2 text-center" style="background: #58A4B0">
            <ul class="nav nav-tabs nav-stacked">          
                <li role="navigation" class="btn"><a class="nav-link active miMenu" ui-sref="lugarEvento({lugarId: currentEvento.lugar.id})" style="font-size:20px ;font-family: Helvetica Neue,Helvetica,Arial,sans-serif">Lugar del evento</a></li>
                <hr>
                <li role="navigation" class="btn"><a class="nav-link active miMenu" ui-sref="patrocinioEventoListDetail({eventoId: currentEvento.id})" style="font-size:20px ;font-family: Helvetica Neue,Helvetica,Arial,sans-serif">Patrocinios</a></li>
            </ul>
        </div>
        
        <div class="col-md-10">
            <div ui-view="childrenView"></div>
        </div>
        
    </div>
</div>

