<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <label id="createblog" ng-show="{{crearBlog}}">Crear un blog</label>
                <label id="createblog" ng-show="{{actualizarBlog}}">Actualizar blog</label>
            </div>
            <div class="panel-body">
                <form ng-submit="createBlog()" name="blogCrear">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="tituloBlog" class="col-sm-3">Título:</label>
                            <input id="tituloBlog" required ng-model="tituloBlog" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="contenidoBlog" class="col-sm-3">Contenido:</label>
                            <textarea id="contenidoBlog" required ng-model="contenidoBlog" class="col-sm-6"></textarea>
                        </div>
                    </div>                 
                    
                    <div class="form-group row">
                        <button ng-click="ctrl.addNew()" class="btn btn-default" type="button" >Nueva multimedia</button>
                    </div> 
                    <div class="form-group row" ng-show="{{crearBlog}}">
                        <div class="panel-body">
                            <div ng-repeat="item in multimedia">
                                {{item.nombre}} {{item.descripcion}} {{item.link}}
                            </div>
                            <div id="{{$index}}-multimedia" ng-repeat="itemToAdd in itemsToAdd">
                                <input id="link" name="link" type="hidden" ng-model="itemToAdd.link">
                                <div class="form-group row">
                                    <div class="form-group col-md-8">
                                         <label for="nombre" class="col-md-6">Nombre de archivo:</label>
                                         <input id="nombre" name="nombre" class="col-sm-6" type="text" ng-model="itemToAdd.nombre" ng-init="itemToAdd.nombre"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="form-group col-md-8">
                                        <label for="descripcion" class="col-md-6 l">Descripción:</label>
                                        <textarea id="descripcion" name="descripcion" class="col-sm-6" type="textArea" ng-model="itemToAdd.descripcion" ng-init="itemToAdd.descripcion"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="widget-container" >
                                        <div class="widget row image-tile">
                                            <div class="tile col-xs-4 col-md-4 col-sm-4 col-lg-4" ng-repeat="record in archivos" style="background: url({{record.ruta}})no-repeat center top; background-size: cover;" ng-class="{latest_icon:true, 'selected col-xs-4 col-md-4 col-sm-4 col-lg-4':selectedOption[ctrl.numeroActual(itemToAdd)]===ctrl.numeroActual(itemToAdd)+'-'+record.ruta }" ng-click="ctrl.asignarRuta(itemToAdd,record.ruta)">
                                                <p>{{record.ruta}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button id="{{$index}}--remove-multimedia-btn" class="btn btn-danger btn-sm col-lg-6 col-md-6" ng-click="ctrl.remove(itemToAdd)" type="button"><span class="glyphicon glyphicon-trash"></span>Multimedia</button>
                                <hr>
                            </div>
                            <hr>
                        </div>
                    </div>
                    
                    
                    
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input type="submit" value="Crear" ng-show="{{crearBlog}}" ng-style="(!blogCrear.$valid || !ctrl.verificarMultimedia() )?{'opacity': '0.65'}: {'opacity':'1'}" class="btn btn-success"/>
                            <input type="submit" value="Actualizar" ng-show="{{actualizarBlog}}" ng-style="(!blogCrear.$valid || !ctrl.verificarMultimedia() )?{'opacity': '0.65'}: {'opacity':'1'}" class="btn btn-success"/>
                            <br>
                            <a class="btn btn-info" ng-show="{{crearBlog}}" ui-sref="blogList">Cancelar</a>
                            <a class="btn btn-info" ng-show="{{actualizarBlog}}" ui-sref="blogDetail">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>