<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label id="createblog">Crear nuevo blog</label></div>
            <div class="panel-body">
                <form ng-submit="createBlog()" name="blogCrear">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="tituloBlog" class="col-sm-3">Título:</label>
                            <input id="tituloBlog" required ng-model="tituloBlog" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="contenidoBlog" class="col-sm-3">Contenido:</label>
                            <textarea id="contenidoBlog" required ng-model="contenidoBlog" class="col-sm-6"></textarea>
                        </div>
                    </div>                 
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!blogCrear.$valid">

                            <div class="alert alert-warning" >
                                <strong>Cuidado!</strong><p>Debe llenar todos los campos obligatorios</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input type="submit" value="Crear" ng-disabled="!blogCrear.$valid" class="btn btn-success"/>
                            <br>
                            <a class="btn btn-info" ui-sref="blogList">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>
