<!--Formulario para actualizar o crear un usuario-->
<div class="panel panel-default">
    <div class="panel-body">
        <div class="panel-heading"><label ng-if="!edit" id="createUsuario">Crear nuevo usuario</label>
            <label ng-if="edit" id="editUsuario">Actualizar usuario</label></div>
        <div class="panel-body">
            <form ng-submit="createUsuario()" name="usuarioCrear">
                <div class="form-group row">
                    <div class="form-group col-md-6">
                        <label for="usuarioNombre" class="col-sm-3">Nombre:</label>
                        <input id="usuarioNombre" required ng-model="usuarioNombre" class="col-sm-6"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-md-6">
                        <label for="usuarioApellido" class="col-sm-3">Apellido:</label>
                        <input id="usuarioApellido" required ng-model="usuarioApellido" class="col-sm-6"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-md-6">
                        <label for="usuarioNickname" class="col-sm-3">Apodo:</label>
                        <input id="usuarioNickname" required ng-model="usuarioNickname" class="col-sm-6"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-md-6">
                        <label for="usuarioPassword" class="col-sm-3">Contraseña:</label>
                        <input type="password" id="usuarioPassword" required ng-model="usuarioPassword" class="col-sm-6"/>
                    </div>
                </div> 
                <div class="form-group row">
                    <div class="form-group col-md-6">
                        <label for="usuarioPassword" class="col-sm-3">Repita su contraseña:</label>
                        <input type="password" id="usuarioPassword" required ng-model="usuarioPassword2" class="col-sm-6"/>
                    </div>
                </div> 
                <div class="form-group row">
                    <div class="form-group col-md-6">
                        <label for="usuarioEmail" class="col-sm-3">Email:</label>
                        <input id="usuarioEmail" required ng-model="usuarioEmail" class="col-sm-6"/>
                    </div>
                </div>              
                <div class="form-group row">
                    <div class="form-group col-sm-12">
                        <div >
                            <input ng-show="{{usuarioCreacion}}" ng-style="!usuarioCrear.$valid ?{'opacity': '0.65'}:{'opacity':'1'}" type="submit" value="Crear" class="btn outline"/>
                            <input ng-show="{{usuarioActualizar}}" ng-style="!usuarioCrear.$valid ?{'opacity': '0.65'}:{'opacity':'1'}" type="submit" value="Actualizar" class="btn outline"/>
                        </div>
                    
                        <div ng-if="!edit">
                            <a class="btn outline" ui-sref="login">Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>