<!--Lista de todos los usuarios-->
<h1 ng-show="{{deGrupo}}">Añadir un administrador</h1>
<div class="container-fluid">
    <div class="table-responsive text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center fondoPanel">Nombre</th>    
                    <th class="text-center fondoPanel">Apellido</th>
                    <th class="text-center fondoPanel">Nickname</th>
                    <th class="text-center fondoPanel">Email</th>
                    <th class="text-center fondoPanel"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="usuario in adminRecords">
                    <td id="{{$index}}-nombre"><a ui-sref="usuarioDetail({usuarioId: usuario.id})">{{usuario.nombre}}</a></td>
                    <td id="{{$index}}-Apellido">{{usuario.apellido}}</td>
                    <td id="{{$index}}-Nickname">{{usuario.nickname}}</td>
                    <td id="{{$index}}-Email">{{usuario.email}}</td>
                    <!-- Si se oprime aquí, se agrega esta categoría al grupo-->     
                    <td><a class="btn outline" ng-click="asociarAdmin(usuario.id)">Asociar este :D</a></td>
                </tr>               
                    
            </tbody>
        </table>
    </div>
</div>