<!-- Lista donde se mostrarán las categorias-->
<!--Lista de miembros-->
<h1>Todas las categorías</h1>
<!-- Muestra la opción de agregar categorías a un grupo en caso de estar dentro de un grupoDetail-->     
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" ng-show="{{deGrupo}}" ng-if="puedoEditarCategorias()">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <a class="btn"  ng-click="asociarCategorias()"><img src="data/plusR.png" style="width:50px;height:50px"></a>
    </div>
</div>
<div class="col-md-8">
    <div class="container responsive">                             
        <!-- Muestra el nombre, descripción y foto de la categoría-->     
        <div class="panel panel-default responsive col-md-8 col-xs-8 col-sm-8" ng-repeat="categoria in categoriaRecords">
            <div class="panel-body clickable responsive">                   
                <h3 id="{{$index}}-name">{{categoria.tipo}}</h3>
                <img class="img-responsive clickable" src="data/{{categoria.rutaIcono}}" id="{{$index}}-icono" onerror="this.src='data/default.png'" ui-sref="categoriaDetail2({categoriaId: categoria.id})">
                <p id="{{$index}}-descripcion">{{categoria.descripcion}}</p>
                <!-- Muestra la opción para desasociar la categoría en caso de estar en un grupoDetail-->     
                <a class="btn btn-danger btn-sm" ng-click="desasociarCategoria(categoria.id)" ng-show="{{deGrupo}}" ng-if="puedoEditarCategorias()">Desasociar categoría</a>
            </div>
        </div>
    </div>
</div>