<!-- Permite modificación o creación de un grupo-->
<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <!-- Si se está creando se muestra esto-->
            <div class="panel-heading"><label ng-if="!edit" id="creategrupo">Crear nuevo grupo</label>
                <!-- Si está editando se muestra este-->
                <label ng-if="edit" id="editgrupo">Editar grupo</label></div>
            <div class="panel-body">
                <!-- Formulario para crear o modificar un grupo con su nombre y descripción-->
                <form ng-submit="creategrupo()" name="grupoCrear">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="grupoName" class="col-sm-3">Nombre:</label>
                            <!-- Campo para poner el nombre-->
                            <input id="grupoName" required ng-model="grupoName" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="grupoDescription" class="col-sm-3">Descripcion:</label>
                            <!-- Campo para poner la descripción-->
                            <textarea id="grupoDescription" required ng-model="grupoDescription" class="col-sm-6"></textarea>
                        </div>
                    </div>                 
                    <div class="form-group row">
                        <!-- En caso que el formulario no esté correctamente llenado...-->                      
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <!-- Muestra los botones si el formulario está completamente llenado-->
                                <!-- En caso de crear un grupo muestra solo el botón crear-->
                                <input ng-show="{{crearGrupo}}" type="submit" value="Crear" class="btn btn-success" ng-style="!grupoCrear.$valid?{'opacity': '0.65'}: {'opacity':'1'}"/>                  
                                <!-- En caso de actualizar un grupo muestra solo el botón actualizar-->
                                <input ng-show="{{actualizarGrupo}}" type="submit" value="Actualizar" class="btn btn-success" ng-style="!grupoCrear.$valid?{'opacity': '0.65'}: {'opacity':'1'}"/>       
                            <a class="btn btn-info" ng-click="volver()">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>







