<!--Formulario para modificar/crear patrocinio-->
<div class="panel-heading"><label ng-if="!edit" id="createPatrocinio">Crear nuevo patrocinio</label>
<label ng-if="edit" id="editPatrocinio">Actualizar patrocinio</label></div>
            <div class="panel-body">
                <form ng-submit="createPatrocinio()" name="patrocinioCrear">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="patrocinioPago" class="col-sm-3">Pago:</label>
                            <input id="patrocinioPago" required ng-model="patrocinioPago" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="{{patrocinioCreacion}}" ng-style="patrocinioCrear.$valid?{'opacity': '0.65'}:{'opacity':'1'}" type="submit" value="Crear" class="btn btn-success"/>
                            <input ng-show="{{patrocinioActualizar}}" ng-style="patrocinioCrear.$valid?{'opacity': '0.65'}:{'opacity':'1'}"type="submit" value="Actualizar" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="patrocinioListDetail">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>