<div class="container-fluid" ui-view="errorView">
    <div class="panel-group">
        <!--<div class="panel panel-primary">
            <div class="panel-heading"><label>Comentarios</label></div>-->
            <div class="panel-body" ui-view="deleteView">
                <div class="col-md-12" style="float: none;margin: 0 auto">
                    <div class="table-responsive container col-md-12" >
                        <div class="panel panel-default col-md-12" ng-repeat="comentario in comentarioRecords">
                            <div class="panel-body">                   
                                <h4 id="{{$index}}-author">{{comentario.autor}}:</h4>
                                <p id="{{$index}}-comment">{{comentario.comentario}}</p>
                                <div class="col-md-12" ng-if="esMiComentario(comentario.autor) && puedoComentar()" ng-show="{{comentariosBlog}}">
                                    <a class="btn outline btn-sm" ui-sref="comentarioUpdate({comentarioId: comentario.id})"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a class="btn outlineC btn-sm" ui-sref="comentarioDelete({comentarioId: comentario.id})"><span class="glyphicon glyphicon-trash"></span></a>
                                </div>
                                <div class="col-md-12" ng-if="esMiComentario(comentario.autor) && puedoComentar()" ng-show="{{comentariosNoticia}}">
                                    <a class="btn outline btn-sm" ui-sref="comentarioNoticiaUpdate({comentarioId: comentario.id})"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a class="btn outlineC btn-sm" ui-sref="comentarioNoticiaDelete({comentarioId: comentario.id})"><span class="glyphicon glyphicon-trash"></span></a>
                                </div>
                                <div class="col-md-12" ng-if="esMiComentario(comentario.autor) && puedoComentar()" ng-show="{{comentariosUsuarioNoticia}}">
                                    <a class="btn outline btn-sm" ui-sref="comentarioUsuarioNoticiaUpdate({comentarioId: comentario.id})"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a class="btn outlineC btn-sm" ui-sref="comentarioUsuarioNoticiaDelete({comentarioId: comentario.id})"><span class="glyphicon glyphicon-trash"></span></a>
                                </div>
                                <div class="col-md-12" ng-if="esMiComentario(comentario.autor) && puedoComentar()" ng-show="{{comentariosGrupoNoticia}}">
                                    <a class="btn outline btn-sm" ui-sref="comentarioGrupoNoticiaUpdate({comentarioId: comentario.id})"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a class="btn outlineC btn-sm" ui-sref="comentarioGrupoNoticiaDelete({comentarioId: comentario.id})"><span class="glyphicon glyphicon-trash"></span></a>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div ui-view="createView">
                            <div class="col-md-12" ng-if="puedoComentar()">
                                <button type="button" class="btn outline" ng-show="{{comentariosNoticia}}" ui-sref="comentarioNoticiaCreate">Comentar</button>
                                <button type="button" class="btn outline" ng-show="{{comentariosUsuarioNoticia}}" ui-sref="comentarioUsuarioNoticiaCreate">Comentar</button>
                                <button type="button" class="btn outline" ng-show="{{comentariosGrupoNoticia}}" ui-sref="comentarioGrupoNoticiaCreate">Comentar</button>
                                <button type="button" class="btn outline" ng-show="{{comentariosBlog}}" ui-sref="comentarioCreate">Comentar</button>
                            </div>
                            <br>
                            <br>
                            <div class="col-md-12">
                                <button type="button" class="btn outline" ng-click="goPublicacionDetail()">Volver</button>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
