<div class="container-fluid">
    <div class="panel-group">
        <!--<div class="panel panel-primary">-->
            <div class="col-md-4 text-center" style="float: none;margin: 0 auto">
                <h2><span style="color: #721817"> Actualizar noticia </span></h2>
            </div>
            <div class="panel-body">
                <form ng-submit="ctrl.saveRecord(currentRecord.id)" name="noticia">
                    <div class="form-group row">
                        <div class="form-group col-md-8">
                            <label for="titulo" class="col-md-6 control-label">Título</label>
                             <input id="titulo" name="titulo"type="text" required ng-model="currentRecord.titulo" ng-init="currentRecord.titulo"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-8">
                            <label for="informacion" class="col-md-6 control-label">Información</label>
                            <textarea id="informacion" name="informacion"  required class="col-sm-6" ng-model="currentRecord.informacion" ng-init="currentRecord.informacion"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!noticia.$valid">
                            <div class="alert alert-warning" >
                                <strong>Alto!</strong><p>Debe llenar todos los campos de la noticia</p>
                            </div> 
                        </div> 
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <button type="submit" id="submit-button" class="btn outline" >Actualizar noticia</button>
                            <div ng-show="{{esNoticiaUsuario}}">
                                    <button type="button" class="btn outline"  ui-sref='usuarioNoticiasList'>Cancelar</button>
                            </div>
                            <br>
                            <br>
                            <div ng-show="{{deGrupo}}">
                                 <button type="button" class="btn outline"  ui-sref='grupoNoticiasList'>Cancelar</button>
                            </div>                        
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>