<div class="container-fluid">
    <div class="panel-group">
        <!--<div class="panel panel-primary">-->
        <div class="col-md-4 text-center" style="float: none;margin: 0 auto">
            <h2><span style="color: #721817"> Crear noticia </span></h2>
        </div>
        <div class="col-md-12 text-center">
            <div class="panel-body">
                <form ng-submit="ctrl.saveRecord(currentRecord.id)" name="noticia">
                    <div class="form-group row">
                        <div class="form-group col-md-8">
                            <label for="titulo" class="col-md-6 control-label">Título</label>
                             <input id="titulo" name="titulo"type="text" required ng-model="currentRecord.titulo" ng-init="currentRecord.titulo"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-8">
                            <label for="informacion" class="col-md-6 control-label">Información</label>
                            <textarea id="informacion" name="informacion"  required class="col-sm-6" ng-model="currentRecord.informacion" ng-init="currentRecord.informacion"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <button ng-click="ctrl.addNew()" class="btn outline" type="button" >Nueva multimedia</button>
                    </div> 
                    
                    <div class="form-group row">
                        <div class="panel-body">
                            <div ng-repeat="item in multimedia">
                                {{item.nombre}} {{item.descripcion}} {{item.link}}
                            </div>
                            <div id="{{$index}}-multimedia" ng-repeat="itemToAdd in itemsToAdd">
                                <input id="link" name="link" type="hidden" ng-model="itemToAdd.link">
                                <div class="form-group row">
                                    <div class="form-group col-md-8">
                                         <label for="nombre" class="col-md-6">Nombre de archivo:</label>
                                         <input id="nombre" name="nombre" class="col-sm-6" type="text" ng-model="itemToAdd.nombre" ng-init="itemToAdd.nombre"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="form-group col-md-8">
                                        <label for="descripcion" class="col-md-6 l">Descripción:</label>
                                        <textarea id="descripcion" name="descripcion" class="col-sm-6" type="textArea" ng-model="itemToAdd.descripcion" ng-init="itemToAdd.descripcion"></textarea>
                                    </div>
                                </div>
                                <label for="rutamultimedia" class="col-md-4">Ruta</label>
                                <input id="rutamultimedia{{ctrl.numeroActual(itemToAdd)}}" name="rutamultimedia" class="col-sm-5" type="text" value="Selecciona un archivo" disabled/>
                                <p class="col-md-12" style="color: #D8000C" ng-if="!ctrl.verificarMultimediaIndividual(itemToAdd)">No has seleccionado un archivo y/o nombre para la multimedia {{ctrl.numeroActual(itemToAdd)}}</p>
                                   <div class="col-md-12">
                                        <div class="widget-container" >
                                            <div class="widget row image-tile">
                                                <div class="tile col-xs-4 col-md-4 col-sm-4 col-lg-4" ng-repeat="record in archivos" style="background: url({{record.ruta}})no-repeat center top; background-size: cover;" ng-class="{'tile col-xs-4 col-md-4 col-sm-4 col-lg-4':selectedOption!==record.ruta, 'selected col-xs-4 col-md-4 col-sm-4 col-lg-4':selectedOption[ctrl.numeroActual(itemToAdd)-1]===ctrl.numeroActual(itemToAdd)+'-'+record.ruta }" ng-click="ctrl.asignarRuta(itemToAdd,record.ruta)">
                                                    <p>{{record.ruta}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <button id="{{$index}}--remove-multimedia-btn" class="btn outlineC btn-sm col-lg-3 col-md-3" ng-click="ctrl.remove(itemToAdd)" type="button"><span class="glyphicon glyphicon-trash"></span>Multimedia</button>
                                <hr>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <button type="submit" id="submit-button" class="btn outline"  ng-style="(!noticia.$valid || !ctrl.verificarMultimedia())?{'opacity': '0.65'}:{'opacity':'1'}" >Agregar noticia</button>
                            <br>
                            <br>
                            <div ng-show="{{deGrupo}}">
                                <button type="button" class="btn outline"  ui-sref='grupoNoticiasList'>Cancelar</button>
                            </div>                        
                        </div>
                    </div> 
                    
                </form>

            </div>
        </div>
    </div>
</div>