body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

.margin-top{
    padding-top: 20px;
}

.mainHeader{
    background: #f8f8f8;
    color: #fff;
    width: 100%;
}

.footer-bottom{
    background: #f8f8f8;
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.fixed-header{
    top: 0;
}

.fixed-footer{
    bottom: 0;
}  

.logo{
    display: block;
    object-fit: cover;
}

.mainTitle {
    font-variant: small-caps;
    font-style: italic;
}

.footerTitle {
    font-variant: small-caps;
    font-weight: bold;
}

.shoppingCart-custom{
    padding-right: 13px;
}

.panel1{
    background-color: #FFFFFF;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
}

.title_Header{
    color: #6E6E6E;
}

.header_text{
    color: #6E6E6E;
    font-size: 19px;
}

