body {
    min-height: 100vh;
    position: relative;
    margin: 0;
}

.margin-top{
    padding-top: 20px;
}

.mainHeader{
    background: #f8f8f8;
    color: #fff;
    width: 100%;
}

.footer-bottom{
    background: #f8f8f8;
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.fixed-header{
    top: 0;
}

.fixed-footer{
    bottom: 0;
}  

.logo{
    display: block;
    object-fit: cover;
}

.mainTitle {
    font-variant: small-caps;
    font-style: italic;
}

.footerTitle {
    font-variant: small-caps;
    font-weight: bold;
}

.shoppingCart-custom{
    padding-right: 13px;
}

.panel1{
    background-color: #FFFFFF;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
}

.title_Header{
    color: #E7ECEF;
}

.header_text{
    color: #E7ECEF;
    font-size: 19px;
}

.fondoPanel{
    background: #426163;
    color:white;
}

.subir{
    height: 0px;
}

.btn.outline {
    background: none;
    padding: 4px 12px;
}
.btn.outline {
    border: 2px solid ;
    color: #63595C;
}
.btn.outline:hover, .btn.outline:focus, .btn.outline:active, .btn.outline.active, .open > .dropdown-toggle.btn{
    color: white;
    border-color: #636969;
    background: #63595C;
}
.btn.outline:active, .btn.outline.active {
    border-color: #63595C;
    color: white;
    box-shadow: none;
}

.btn.outlineC {
    background: none;
    padding: 12px 22px;
}
.btn.outlineC {
    border: 2px solid ;
    color: #b25c45;
}
.btn.outlineC:hover, .btn.outlineC:focus, .btn.outlineC:active, .btn.outlineC.active, .open > .dropdown-toggle.btn-primary {
   color: white;
   border-color: #875f54;
    background: #b25c45;
}
.btn.outlineC:active, .btn.outlineC.active {
    border-color: #b25c45;
     color: white;
    box-shadow: none;
}
