<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <label id="editEmpresa">Editar Empresa</label></div>
            <div class="panel-body">
                <form ng-submit="updateEmpresa()" name="empresa">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="empresaNit" class="col-sm-2">NIT:</label>
                            <p>{{currentNit}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="empresaNombre" class="col-sm-2">Nombre:</label>
                            <input type="text" id="empresaNombre" required ng-model="empresaNombre" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="empresaLogo" class="col-sm-2">Logo:</label>
                            <input id="empresaLogo" required ng-model="empresaLogo" class="col-sm-6" type="text"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!empresa.$valid">

                            <div class="alert alert-warning" >
                                <strong>Advertencia!</strong><p>Es necesaior diligenciar todos los campos*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="empresa.$valid" type="submit" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="empresaDetail">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

