<div class="container-fluid">
    <div class="panel-group">
        <!--<div class="panel panel-primary">-->
            <h1 id="{{$index}}-name" class="col-md-5 text-center" ng-if="!edit" style="float:none;font-size:25px;margin: 0 auto"><span style="color:#426163;">Agregar Empresa</span></h1>
            <h1 id="{{$index}}-name" class="col-md-5 text-center" ng-if="edit" style="float:none;font-size:25px;margin: 0 auto"><span style="color:#426163;">Editar Empresa</span></h1>
            <div class="panel-body text-center">
                <form ng-submit="createEmpresa()" name="empresa">
                    <div class="form-group row text-center">
                        <div class="form-group col-md-6">
                            <label for="empresaNit" class="col-sm-2 col-lg-5">NIT:</label>
                            <input id="empresaNit" required ng-model="empresaNit" class="col-sm-6" type="number" min="0"/>
                        </div>
                    </div>
                    <div class="form-group row text-center">
                        <div class="form-group col-md-6">
                            <label for="empresaNombre" class="col-sm-2 col-lg-5">Nombre:</label>
                            <input type="text" id="empresaNombre" required ng-model="empresaNombre" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row text-center">
                        <div class="form-group col-md-6">
                            <label for="empresaLogo" class="col-sm-2 col-lg-5">Logo:</label>
                            <select id="empresaLogo" class="col-sm-6" required ng-model="empresaLogo">
                                <option ng-repeat="ruta in rutaImagenes" type="text">{{ruta.ruta}} </option>
                            </select>
                            <!--
                            <input id="empresaLogo" required ng-model="empresaLogo" class="col-sm-6" type="text"/>
                            -->
                        </div>
                    </div>
                    <div class="form-group row text-center">
                        <div class="form-group col-sm-12">
                            <input ng-style="!empresa.$valid?{'opacity': '0.65'}:{'opacity':'1'}" type="submit" value="Save" class="btn outline"/>
                            <a class="btn outline" ui-sref="empresaDetail">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
