<!--Lista de todos los administradores-->
<h1>Todos los Administradores</h1>
<div class="container-fluid responsive">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <a class="btn" ng-click="asociarAdmins()" ng-if="puedoEditarGrupo()"><img src="data/plusV.png" style="width:50px;height:50px"></a>
    </div>
</div>
<div class="table-responsive text-center">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th class="text-center fondoPanel">Nombre</th>    
                <th class="text-center fondoPanel">Apellido</th>
                <th class="text-center fondoPanel">Nickname</th>
                <th class="text-center fondoPanel">Email</th>
                <th class="text-center fondoPanel"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="usuario in adminRecords">
                <td id="{{$index}}-nombre"><a ui-sref="usuarioDetail({usuarioId: usuario.id})">{{usuario.nombre}}</a></td>
                <td id="{{$index}}-Apellido">{{usuario.apellido}}</td>
                <td id="{{$index}}-Nickname">{{usuario.nickname}}</td>
                <td id="{{$index}}-Email">{{usuario.email}}</td>
                <!-- Muestra la opción para desasociar la categoría en caso de estar en un grupoDetail-->     
                <td><a class="btn btn-danger btn-sm" ng-click="desasociarAdmin(usuario.id)" ng-if="puedoEditarGrupo()">Desasociar administrador</a></td>
            </tr>
        </tbody>
    </table>
</div> 