<div class="container-fluid">
    <div class="panel-group">
        <!--<div class="panel panel-primary">-->
        <h1 id="{{$index}}-name" class="col-md-6 text-center" style="float:none;font-size:25px;margin: 0 auto"><span style="color:#426163;">Nueva calificación</span></h1>
            <div class="panel-body text-center">
                <form ng-submit="ctrl.saveRecord(currentRecord.id)" name="calificacion">
                    <div class="form-group row text-center">
                        <div class="form-group col-md-12 text-center">
                            <table>
                                <tr>
                                    <td><input type="hidden" id="id" ng-model="currentRecord.id" ng-init="currentRecord.id">
                                    <td><input id="calificacion" name="calificacion" class="form-control" type="range" min="0" max="5" step="0.1" value="2.5" ng-model="currentRecord.calificacion" ng-init="currentRecord.calificacion" required /></td>
                                    <td>
                                        <div style="border-radius: 50%; behavior: url(PIE.htc); /* remove if you don't care about IE8 */  width: 72px; height: 72px;padding: 8px;background: #fff;border: 2px solid #666;color: #666;text-align: center;font: 32px Arial, sans-serif;">
                                            <p>{{ctrl.getRangeValue()}}</p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            
                        </div>
                    </div>
                    <div class="form-group row text-center">
                        <div class="form-group col-sm-12">
                            <button type="button" class="btn outline"  ui-sref='calificacionsList'>Volver</button>
                            <button type="submit" class="btn outline" >Guardar</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

