<div ng-show="!calificacionSeleccionada && !calificacionEliminada">
    <div class="center-block well text-center">
        <h1>Duda existencial</h1>
        <h2> ¿Estás seguro de que quieres eliminarme?</h2>
        <button id="confirm-delete" ng-click="calificacionEliminada=true" class="btn btn-danger">Sí</button>  
        <button id="cancel-delete" ng-click="calificacionSeleccionada=true" class="btn btn-info">No</button>
    </div>
</div>

<div ng-show="calificacionSeleccionada">
    <div class="center-block well text-center">
    <h1>Tampoco quiero que acabemos</h1>
    <h2>Gracias por conservarme, yo te llevo con el resto</h2>
    <a id="ok-button1" ui-sref="calificacionsList" class="btn btn-info">Ok</a>
    </div>
</div>  
    
<div ng-show="calificacionEliminada">
    <div class="center-block well text-center">
    <h1>Inténtalo si puedes</h1>
    <h2>Puede que intentes eliminarme del blog, pero solo lo sabrás si vamos con las demás.</h2>
    <a id="ok-button2" ng-click="ctrl.deleteRecord(currentRecord.id)" class="btn btn-info">Ok</a>
    </div>
</div>