<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createcategoria">Crear nueva categoria</label>
                <label ng-if="edit" id="editcategoria">Edit categoria</label></div>
            <div class="panel-body">
                <form ng-submit="createCategoria()" name="categoriaCrear">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="categoriaName" class="col-sm-3">Nombre:</label>
                            <input id="categoriaName" required ng-model="categoriaName" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="categoriaDescription" class="col-sm-3">Descripcion:</label>
                            <textarea id="categoriaDescription" required ng-model="categoriaDescription" class="col-sm-6"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="categoriaRuta" class="col-sm-2">Ruta de la imagen:</label>
                            <input id="categoriaRuta" required ng-model="categoriaRuta" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!categoriaCrear.$valid">

                            <div class="alert alert-warning" >
                                <strong>Cuidado!</strong><p>Debe llenar todos los campos*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <div ng-show="categoriaCrear.$valid" >
                            <input ng-show="{{crearcategoria}}" type="submit" value="Crear" class="btn btn-success"/>                    
                            <input ng-show="{{actualizarcategoria}}" type="submit" value="Actualizar" class="btn btn-success"/>
                            </div>
                            <a class="btn btn-info" ui-sref="carruselCategorias">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>



  



