<!-- Permite modificación o creación de una categoría-->
<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <!-- Si se está creando se muestra esto-->
            <div class="panel-heading"><label ng-if="!edit" id="createcategoria">Crear nueva categoria</label>
                <!-- Si está editando se muestra este-->
                <label ng-if="edit" id="editcategoria">Editar categoria</label></div>
            <div class="panel-body">
                <!-- Formulario para crear o modificar un grupo con su nombre y descripción-->
                <form ng-submit="createCategoria()" name="categoriaCrear">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="categoriaName" class="col-sm-3">Nombre:</label>
                            <!-- Campo para poner el nombre-->
                            <input id="categoriaName" required ng-model="categoriaName" class="col-sm-3"/>
                            <p class="col-md-3" style="color: #D8000C" ng-if="errorCategoriaNombre">Ya existe una categoria con ese nombre</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="categoriaDescription" class="col-sm-3">Descripcion:</label>
                            <!-- Campo para poner la descripción-->
                            <textarea id="categoriaDescription" required ng-model="categoriaDescription" class="col-sm-6"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="categoriaRuta" class="col-sm-2">Ruta de la imagen:</label>
                            <!-- Campo para poner la ruta de la imagen-->
                            <input id="categoriaRuta" required ng-model="categoriaRuta" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <!-- Muestra los botones si el formulario está completamente llenado-->
                                <!-- En caso de crear una categoría muestra solo el botón crear-->
                                <input ng-show="{{crearcategoria}}" type="submit" value="Crear" class="btn btn-success" ng-style="!categoriaCrear.$valid?{'opacity': '0.65'}: {'opacity':'1'}"/>     
                                <!-- En caso de actualizar una categoría muestra solo el botón actualizar-->
                                <input ng-show="{{actualizarcategoria}}" type="submit" value="Actualizar" class="btn btn-success" ng-style="!categoriaCrear.$valid?{'opacity': '0.65'}: {'opacity':'1'}"/>
                            <a class="btn btn-info" ui-sref="carruselCategorias">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>







