<!-- Muestra información detallada de un grupo-->
<div class="container-fluid">
    <div class="panel panel-default"> 
        <div class="panel-body">
            <div class="row">
                <!-- Muestra el nombre-->
                <div class="col-md-12 text-center" style="float: none;margin: 0 auto">
                    <h2>{{grupoActual.nombre}}</h2>
                </div>
                <!-- Muestra la descripción de un grupo-->
                <div class="col-md-12 text-center" style="float: none;margin: 0 auto">
                    <p>{{grupoActual.descripcion}}</p>
                </div>
                <div class="col-md-12 text-center">
                    <!-- Botones por si un usuario se quiere inscribir o dejar un grupo, solo se muestra uno dependiendo del caso-->
                    <div class="col-md-12">
                        <div class="btn-group mr-2" role="group" aria-label="First group" ng-show="!soyMiembro">
                            <button type="button" class="btn btn-success" ng-click="inscripcionGrupo()" ng-if="!puedoEditarGrupo()">Inscribirse</button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="First group" ng-show="soyMiembro">
                            <button type="button" class="btn btn-danger" ng-click="dejarGrupo()">Salir del grupo</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-right: 5%;">        
                <a class="btn outlineC btn-sm col-md-1 pull-right" ui-sref="grupoDelete({grupoId: grupoActual.id})" ng-if="puedoEditarGrupo()"><span class="glyphicon glyphicon-trash" style="color: black"></span></a>
                <a class="btn outline btn-sm col-md-1 pull-right" ui-sref="grupoUpdate({grupoId: grupoActual.id})" ng-if="puedoEditarGrupo()"><span class="glyphicon glyphicon-edit"></span></a>
            </div>
            <br>
            <div class="col-md-2 text-center" style="background: #545E75;padding-left: 0px;padding-right: 0px;">
                <!-- Muestra los botones para ver los subrecursos del grupo-->
                <ul class="nav nav-tabs nav-stacked">
                    <li role="navigation" class="btn" style="padding-top: 3px; padding-bottom: 3px;padding-left: 0px; padding-right: 0px;"><a class="nav-link active miMenu" ui-sref="grupoNoticiasList" style="font-size:17px;font-family: Helvetica Neue,Helvetica,Arial,sans-serif;padding-left: 0px;padding-right: 0px; padding-top: 3px; padding-bottom: 0px">Noticias</a></li>
                    <hr>
                    <li role="navigation" class="btn"  ng-if="puedoVerDetallesGrupo()" style="padding-top: 3px; padding-bottom: 3px;padding-left: 0px; padding-right: 0px;"><a class="nav-link miMenu" ui-sref="eventosDeGrupo({grupoId:grupoActual.id})" style="font-size:17px;font-family: Helvetica Neue,Helvetica,Arial,sans-serif;padding-left: 0px;padding-right: 0px; padding-top: 0px; padding-bottom: 0px">Eventos</a></li>
                    <hr  ng-if="puedoVerDetallesGrupo()" ng-class="{subir: !puedoVerDetallesGrupo()}">
                    <li role="navigation" class="btn" ng-if="puedoVerDetallesGrupo()" style="padding-top: 3px; padding-bottom: 3px;padding-left: 0px; padding-right: 0px;"><a class="nav-link miMenu" ui-sref="blogList" style="font-size:17px;font-family: Helvetica Neue,Helvetica,Arial,sans-serif;padding-left: 0px;padding-right: 0px; padding-top: 0px; padding-bottom: 0px">Blogs</a></li>
                    <hr  ng-if="puedoVerDetallesGrupo()" ng-class="{subir: !puedoVerDetallesGrupo()}">
                    <li role="navigation" class="btn" style="padding-top: 3px; padding-bottom: 3px;padding-left: 0px; padding-right: 0px;"><a ng-click="categoriasDeMiGrupo(grupoActual.id)" type='button' class="nav-link miMenu" style="font-size:17px;font-family: Helvetica Neue,Helvetica,Arial,sans-serif;padding-left: 0px;padding-right: 0px; padding-top: 0px; padding-bottom: 0px" >Categorías</a></li>
                    <hr>
                    <li role="navigation" class="btn" ng-if="puedoVerDetallesGrupo()" style="padding-top: 3px; padding-bottom: 3px;padding-left: 0px; padding-right: 0px;"><a id="losAdmins" class="nav-link active miMenu" type='button' ng-click="adminsDeMiGrupo(grupoActual.id)" style="font-size:17px;font-family: Helvetica Neue,Helvetica,Arial,sans-serif;padding-left: 0px;padding-right: 0px; padding-top: 0px; padding-bottom: 0px">Administradores</a></li>
                    <hr  ng-if="puedoVerDetallesGrupo()">
                    <li role="navigation" class="btn" style="padding-top: 3px; padding-bottom: 3px;padding-left: 0px; padding-right: 0px;"><a class="nav-link active miMenu" ui-sref="miembrosDeGrupo({grupoId:grupoActual.id})" style="font-size:17px;font-family: Helvetica Neue,Helvetica,Arial,sans-serif;padding-left: 0px;padding-right: 0px; padding-top: 0px; padding-bottom: 3px">Miembros</a></li>
                </ul>
            </div>          
            
            
            
            <!-- Vista para mostrar la lista de los subrecursos-->
            <div class="col-md-10 responsive">                        
                <div ui-view="childrenView"></div>
            </div>
            <br>
            <br>
        </div>
    </div>
</div>

